html {
	font-family: Arial;
}

body {
	margin: 0;
}

main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: purple;
}

header {
	flex: 0;
	margin: 0px;
	padding: 0px;
	background-color: pink;
}

a {
	text-decoration: none;
}

article {
	flex-shrink: 0;
	flex-grow: 1;
	padding: 0 5%;
	background-color: white;
}

.header-button {
	display: inline-block;
}

.header-button:hover {
	background-color: #CC99A3;
}

.right-side {
	position: absolute;
	right: 0px;
}

.header-text {
	padding: 1em;
}

.horizontal {
	display: flex;
	flex-direction: row;
}

.center {
	margin: auto;
	width: min-content;
	height: min-content;
}

.login-item {
	display: block;
	margin: 5px;
	padding: 1em;
}

.login-form {
	padding: 20px;
	background-color: pink;
}

.formtext {
	padding: 0;
}

.hide {
	display: none;
}

.answer-images {
	display: inline;
	margin: 4px;
	border: 1px solid black;
	width: 20vw;
	height: 20vw;
}
